<section class="card shadow-sm border-0" het-component="structural-key-outside-for">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <p id="outside-key" het-props="textContent=$key"></p>
  </div>
</section>

<script nonce="{{{cspNonce}}}">
  window.HET.registerComponent('structural-key-outside-for');
</script>
