<!DOCTYPE html>
<html>
  <head>
    <title>html enhancement toolkit - {{title}}</title>
    {{#if description}}
      <meta name="description" content="{{description}}" />
    {{/if}}
  </head>
  <body>
    <nav>
      <a href="/">HET Test Application</a>
    </nav>
    <main id="main">
      {{{body}}}
    </main>
  </body>
</html>
