<!DOCTYPE html>
<html>
  <head>
    <title>html enhancement toolkit - {{title}}</title>
    <link rel='stylesheet' href='/css/simple.css' />
    <script type="importmap" nonce="{{cspNonce}}">
      {
        "imports": {
          "@preact/signals-core": "/preact-signals/signals-core.module.js",
          "het": "/het/toolkit.js"
        }
      }
    </script>
  </head>
  <body>
    <main>
      {{{body}}}
    </main>
    {{> het-components-config }}
    <script type="module" nonce="{{cspNonce}}">
      import { init } from 'het';
      init();
    </script>
  </body>
</html>
