<!DOCTYPE html>
<html>
  <head>
    <title>html enhancement toolkit - {{title}}</title>
    <link rel='stylesheet' href='/css/pico.css' />
  </head>
  <body>
    <div class="container">
      {{{body}}}
    </div>
    <script type="module">
      import { init } from '/js/toolkit.js';
      init();
    </script>
  </body>
</html>
