<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <main het-pane="content" class="p-3">
      <p>{{message}}</p>
    </main>
    <main het-pane="flash" class="p-3">
      <p>{{message}}</p>
    </main>
    <main het-pane="main" class="p-3">
      <p>{{message}}</p>
    </main>
  </body>
</html>
