<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <main het-pane="main" class="p-3">
      <h1 class="h3">Search results</h1>
      <p>Results for "{{query}}".</p>
      <input class="form-control" autofocus value="{{query}}">
    </main>
    <main het-pane="results" class="p-3">
      <h1 class="h3">Search results</h1>
      <p>Results for "{{query}}".</p>
    </main>
  </body>
</html>
