<section het-pane="main" class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <ul class="mb-0">
      <li><a href="/requests/headers/het-also-override/link">Link also override</a></li>
      <li><a href="/requests/headers/het-also-override/form">Form also override</a></li>
    </ul>
  </div>
</section>
