<section het-pane="main" class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <p id="main-content">Main initial.</p>
    <div class="d-flex gap-2 flex-wrap">
      <a id="link" href="/requests/headers/het-also-override/responses/link" het-target="main">Also override</a>
      <a id="clear-link" href="/requests/headers/het-also-override/responses/link-clear" het-target="main">Clear also override</a>
    </div>
  </div>
</section>
<aside id="sidebar">Sidebar initial.</aside>
<aside id="flash">Flash initial.</aside>
