<section het-pane="main" class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <ul class="mb-0">
      <li><a href="/requests/headers/nonce/default">Default nonce header</a></li>
      <li><a href="/requests/headers/nonce/custom-header">Custom nonce header</a></li>
      <li><a href="/requests/headers/nonce/preexisting-header">Preexisting nonce header</a></li>
    </ul>
  </div>
</section>
