<section class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <ul class="mb-0">
      <li><a href="/components/het-model/text-input">Text input</a></li>
      <li><a href="/components/het-model/checkbox">Checkbox</a></li>
      <li><a href="/components/het-model/radio">Radio</a></li>
      <li><a href="/components/het-model/invalid-expression-empty">Invalid expression: empty</a></li>
      <li><a href="/components/het-model/invalid-expression-extra-equals">Invalid expression: extra equals</a></li>
    </ul>
  </div>
</section>
