<section het-pane="main" class="card shadow-sm border-0">
  <div class="card-body">
    <p id="primary-content">Primary link response.</p>
    <p id="secondary-content">Secondary link response.</p>
  </div>
</section>
