<section het-pane="main" class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>

    <form id="get-form" method="get" action="get-form" het-target="main" class="mb-3">
      <button id="get-submit" type="submit" class="btn btn-primary">Submit GET</button>
    </form>
  </div>
</section>
