<section het-pane="main" class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <ul class="mb-0">
      <li><a href="/requests/headers/x-het-target">X-HET-Target tests</a></li>
      <li><a href="/requests/headers/x-het-target-override">X-HET-Target-Override tests</a></li>
      <li><a href="/requests/headers/nonce">Nonce header tests</a></li>
    </ul>
  </div>
</section>
