<section het-pane="main" class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <ul class="mb-0">
      <li><a href="/requests/headers/het-target/link">X-HET-Target link test</a></li>
      <li><a href="/requests/headers/het-target/form">X-HET-Target form test</a></li>
      <li><a href="/requests/headers/het-target-override">X-HET-Target-Override tests</a></li>
      <li><a href="/requests/headers/het-select-override">X-HET-Select-Override tests</a></li>
    </ul>
  </div>
</section>
