<section het-pane="main" class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <a id="link" href="/requests/headers/het-target/responses/link" het-target="main">Send link request</a>
  </div>
</section>
