<section het-pane="main" class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <p id="internal-page-message">This is an internal page.</p>
  </div>
</section>
