<section het-pane="main" class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <p>Duplicate panes in current document.</p>
    <a id="link" href="/requests/links/progressive-enhancement-core/responses/internal-link" het-target="main">
      Attempt link enhancement
    </a>
  </div>
</section>
<section het-pane="main" class="card shadow-sm border-0 mt-3">
  <div class="card-body">
    <p>Duplicate pane content.</p>
  </div>
</section>
