<section class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <ul class="mb-0">
      <li><a href="/components/het-on/invokes-method">Invokes method</a></li>
      <li><a href="/components/het-on/assigns-signal">Assigns signal</a></li>
    </ul>
  </div>
</section>
