<section het-pane="main" class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <a
      id="link"
      href="/requests/links/progressive-enhancement-core/responses/internal-link"
      het-target="main"
      target="_blank"
    >
      Internal link with target
    </a>
  </div>
</section>
