<section class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <div id="anonymous-error-root" het-component>
      <p id="anonymous-error-binding" het-props="textContent="></p>
    </div>
  </div>
</section>
