<section class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <div het-component="acquisition-not-supported">
      <button type="button" het-on="click->increment:seed" class="btn btn-sm btn-primary">
        Click
      </button>
    </div>
  </div>
</section>
<script nonce="{{{cspNonce}}}">
  window.HET.registerComponent('acquisition-not-supported', () => ({
    increment() {},
  }));
</script>
