<section class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <div het-component="acquisition-invalid-sync-model">
      <input het-model="count:sync" class="form-control">
    </div>
  </div>
</section>
<script nonce="{{{cspNonce}}}">
  window.HET.registerComponent('acquisition-invalid-sync-model');
</script>
