<section class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <div het-component>
      <p id="invalid-bool-attrs-computed" aria-expanded="true" het-seed="attrValue=$boolAttrs[name]"></p>
    </div>
  </div>
</section>
