<section het-pane="main" class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">{{title}}</h1>
    <form id="form" method="get" action="/requests/forms/progressive-enhancement-core/get-form" het-target="main">
      <div class="mb-2">
        <input id="field" type="text" name="some-field" value="additional value" class="form-control" />
      </div>
      <button
        id="additional-submit"
        type="submit"
        name="additional-value"
        value="some value"
        class="btn btn-primary"
      >
        Submit
      </button>
    </form>
  </div>
</section>
